*{
    padding: 0;
    margin: 0;
}
.topnav{
    border-bottom: 1px solid #dbdbdb;
}
.navborder{
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    font-weight: 700;
}

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    z-index: 50;
    background: #ffffff;
    transition: top 3s;
    box-shadow: 0 6px 5px -4px #e1e1e1;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: #ffffff;
  }
  
  @media (max-width: 991px) {
    .sticky {
      position: static;
    }
  }
  

.image-hover {
    overflow: hidden;
}
.image-hover:hover img {
    transform: scale(1.25);
}
.image-hover img /*.image-hover .thumb-title*/ {
    transition: transform 0.4s;
}
/* Modify image overlays */
.card-img-overlay{
    top:unset;
}

.thumb-title {
    padding: 14px 24px;
    background: #000;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.image-hover:hover .thumb-title {
    transition: transform 0.4s;
    background: #0a62fb;
}

.video-thumb {
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
}

.img-xs{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.news-post-wrapper .news-post-wrapper-sm {
    padding: 0 100px;
}

.social li a{
    text-decoration: none;
    font-size: 30px;
    padding-left: 5px;
    color: black;
}
.footer-horizontal-menu li a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}
@media (min-width: 1200px) {
  .nav-item a:before {
    content: "[";
    padding-right: .3rem;
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
  }
  
  .nav-item  a:after {
    content: "]";
    display: inline-block;
    padding-left: .3rem;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  
  .nav-item a:hover:before,
  .nav-item a:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
  }
}
  /* search box customization */
  .sinput{
      position: relative;
  }
  .search-btn{
      position: absolute;
      right: 25px;
      color: #323335;
      border: 1px solid #ced4da;;
  }
  .img-figure
  {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
    background-color: #000;
  }
  
  .img-ql
  {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
